<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mapper.LibraryMapper">
	<!-- 全件検索 -->
	<select id="displayBooks"
		resultType="com.example.todo.entity.BooksEntity">
		SELECT id,title,content FROM books;
	</select>

	<select id="searchBooks"
		resultType="com.example.todo.entity.BooksEntity">
		SELECT id,title,content FROM books
		<if test="title != null">
			title = #{title}
		</if>
	</select>
	<!--  @author kk -->
	<select id="login" resultType="com.example.todo.entity.UsersEntity">
		SELECT * FROM users WHERE login_id=#{login_id} AND password= #{login_pw}
	</select>
	
	<!--  @author kk -->
	<insert id="register">
		INSERT INTO users 
		(name, department, mailaddress, login_id, password, joined_date, edited_date, del_flag)
		VALUES
		(#{name}, #{department}, #{mailaddress}, #{login_id}, #{password}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 0)
	</insert>
</mapper>