<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mapper.LibraryMapper">
	<!-- 全件検索 -->
	<select id="displayBooks"
		resultType="com.example.todo.entity.BooksEntity">
		SELECT id,title,content FROM books;
	</select>

	<select id="searchBooks"
		resultType="com.example.todo.entity.BooksEntity">
		SELECT id,title,content FROM books
		WHERE exhibition_flag = 1
		<if test="book_name != null">
		  AND title LIKE CONCAT('%', #{book_name},'%')
		</if>
	</select>

</mapper>