<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="css/kawabe.css" />
	<link rel="stylesheet" href="css/home.css" />
</head>

<body>
	<div class="wrap">
		<div class="container">
			<div class="header">
				<p class="header__title">Search Books!</p>
			</div>
			<div class="search">
				<div class="search__text">
					<input type="text" id="js-search-word" class="search__text__input" value="" placeholder="検索する">
				</div>

				<button id="js-search-button" class="search__btn">検索する</button>
				<button id="openModal" class="alert_box">API</button>
			</div>


		</div>
	</div>

	<div id="myModal" class="modal">
		<div class="modal-content">
			<div>
				<div id="titleModal"> &lt お知らせ &gt </div>
				<div id="closeModal">&times;</div>
				<div class="contentBoxMordal">
					<ul class="lists">

					</ul>
				</div>
			</div>
		</div>
	</div>

	<script>

		$(function () {
			var pageNum = 0;
			var prevWord = "";
			$("#js-search-button").on("click", function () {
				pageNum = pageNum + 1
				var keyWord = $("#js-search-word").val();
				if (prevWord !== keyWord) {
					pageNum = 1;
					$(".lists").empty();
					prevWord = keyWord;
				};
				$.ajax({
					type: "GET",
					url: "https://app.rakuten.co.jp/services/api/BooksTotal/Search/20170404",
					data: {
						applicationId: "1053309271580885189",
						keyword: keyWord,
						format: "json",
						bookGenreId: "001",
						page: pageNum,
						hits: 20,
					}
				}).done(function (data) {
					if (data.count > 0) {
						$(".comment").remove();
						var list = "";
						for (var i = 0; i < data.Items.length; i++) {
							list += '<li class=lists__item>' +
								'<div class=lists__item__inner>' +
								
								'<img src=${data.Items[i].Item.largeImageUrl} class=lists__item__img${i} alt>' +
								
								'<p class=lists__title__detail${i}>作品名：　${data.Items[i].Item.title}</p>' +
								'<p class=lists__author__detail${i}>作者　：　${data.Items[i].Item.author}</p>' +
								'<p class=lists__publish__detail${i}>出版社：　${data.Items[i].Item.publisherName}</p>' + 
								'<button class=lists__option__detail${i}>選択</button>' +
								'</div>' + '</li>';
						};
						$(".lists").prepend(list);
					} else {
						$(".comment").remove();
						$(".lists").before("<div class='comment'></div>");
						$(".comment").html("<p class='message'>検索結果が見つかりませんでした。<br>別のキーワードで検索して下さい。</p>");
					};
				});
			});
		});

	</script>
	<script type="text/javascript" th:src="@{/js/setting_for_home.js}"></script>
</body>

</html>