<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap利用のため、必要なコード修正禁止 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
	<!-- CSS共通リンク -->
	<link rel="stylesheet" href="css/common.css" />
	<!-- タイトルの選択-->
	<title>R-Library: Register</title>
</head>

<body>
	<!-- 画面全体始め（ヘッダー、メイン、フッター）-->

	<div class="content_box">
		<!-- ヘッダー（header_btn_box のみ修正可能（ログイン前後の違い））-->
		<header>
			<div class="header_logo"> <a href="https://www.rakuten-sec.co.jp/"><img src="img/rakuten_logo.png"
						alt="Rakuten_sec_mark" class="main_logo"> </a></div>
			<div class="header_title"> 楽天図書館 </div>
			<div class="header_btn_box"> btn1 btn2 </div>
		</header>
		<!--メインー（修正可能領域）-->
		<div class="main">
			<!--白い箱-->
			<div th:if="${errMsg}">
		        <div th:text="${errMsg}" class="main_title"></div>
		    </div>
			<!-- メインコンテンツが入る赤色の箱-->
			<div class="main_content_box">
				<!--actionの行き先修正必要 -->
				<!-- 各inputのnameはusers tableの名前をそのまま使用-->
				<!-- 各inputに条件必要-->
				<table class="register_table">
					<form th:action="@{/register}" th:method="POST" th:object="${userEntity}">
						<tr class="table_row">
							<td>
								<label for="login_id"> ID</label>
							</td>
							<td>
								<input th:field="*{login_id}" type="number" class="input_box" name="login_id" required>
							</td>
						</tr>
						<tr class="table_row">
							<td>
								<label for="password"> パスワード</label>
							</td>
							<td>
								<input th:field="*{password}" type="password" class="input_box" name="password" required>
							</td>
						</tr>
						<tr class="table_row">
							<td>
								<label for="name"> 名前 </label>
							</td>
							<td>
								<input th:field="*{name}" type="text" class="input_box" name="name" required>
							</td>
						</tr>
						<tr class="table_row">
							<td>
								<label for="department"> 部署</label>
							</td>
							<td>
								<!--部署別value修正必要-->
								<select th:field="*{department}" class="input_box" name="department">
									<option value="人事総務部">人事総務部</option>
									<option value="IT本部">IT本部</option>
									<option value="ーケティング推進部">マーケティング推進部</option>
									<option value="その他" selected>その他</option>
								</select>
							</td>
						</tr>
						<tr class="table_row">
							<td>
								<label for="mailaddress"> メールアドレス</label>
							</td>
							<td>
								<input th:field="*{mailaddress}" type="text" class="input_box" name="mailaddress" required>
							</td>
						</tr>
					
						<tr>
							<td>
								<!-- 赤色、青色の箱はクラスを使って（赤：danger,青：primary）大きさはidで調	整します。-->
								<input type="submit" class="btn btn-danger" id="small_size" value="登録">
					</form>
							</td>
							<td>
								<form action="/login">
									<input type="submit" class="btn btn-primary" id="small_size" value="戻る">
								</form>
							</td>
						</tr>
				</table>
			</div>
			<!-- フッター（修正禁止）-->

		</div>
		<footer>
			問い合わせ先：rakuten_tarou@rakuten-sec.co.jp
		</footer>

</body>

</html>